<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <!-- fruit = {name: 'apple', color: 'red'} -->

  <nav>
    <a href="/">Home</a>
    <a href="/fruits">All Fruits</a>
    <a href="/fruits/new">Add Fruit</a>
  </nav>

  <h1>Show Fruit</h1>

  <!-- Rendering Tag -->
  <%= %>

  <h4><strong>Fruit:</strong> <%= fruit.name %></h4>

  <p><strong>Color:</strong> <%= fruit.color %></p>

  <% if (fruit.readyToEat) { %>
    <p>This fruit is ready to eat</p>
  <% } else { %>
    <p>This fruit is not ready to eat</p>
  <% } %>
  
  <form action="/fruits/<%= fruit._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete Fruit" />
  </form> 

  <form action="/fruits/<%= fruit._id %>/edit" method="GET">
    <input type="submit" value="Edit Fruit" />
  </form>

  <!-- Non-Rendering Tag -->
  <% if (true) '<p>Hello</p>' %>
</body>
</html>
